<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Oxygen|Arimo|Comfortaa|Merriweather|Slabo|Lora|Roboto" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="icon" href="{% static 'isicwebdatabase/images/isics.png' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'ticket/css/reporting.css' %}">
  <script src="https://kit.fontawesome.com/ea6a27c21b.js" crossorigin="anonymous"></script>

  <title>Radio User Database</title>
</head>

<body>

  <nav class='side-navbar'>
    <ul class='side-navbar-nav'>
      <li class='logo'>
        <a href="{% url 'isicwebdatabase:index-home' %}" class='side-nav-link'>
          <i class="fas fa-home"></i>
          <span class='side-link-text'>Home</span>
        </a>
      </li>
      <li class='side-nav-item'>
        <a href="{% url 'isicwebdatabase:poc-home' %}" class='side-nav-link'>
          <i class="fas fa-database"></i>
          <span class='side-link-text'>ISICS Point of Contact</span>
        </a>
      </li>
      <li class='side-nav-item'>
        <a href="{% url 'isicwebdatabase:applicant-results' %}" class='side-nav-link'>
          <i class="fas fa-poll"></i>
          <span class='side-link-text'>ISICS Applicants</span>
        </a>
      </li>
      <li class='side-nav-item'>
        <a href="{% url 'isicwebdatabase:genesis-reports' %}" class='side-nav-link'>
          <i class="fas fa-envelope-open-text"></i>
          <span class='side-link-text'>Genesis Report Request</span>
        </a>
      </li>
      <li class='side-nav-item'>
        <a href="{% url 'isicwebdatabase:site-home-info' %}" class='side-nav-link'>
          <i class="fas fa-broadcast-tower"></i>
          <span class='side-link-text'>Site Ids</span>
        </a>
      </li>
      <li class='side-nav-item'>
        <a href="{% url 'ticket:ticket-reporting' %}" class='side-nav-link'>
          <i class="fas fa-exclamation-triangle"></i>
          <span class='side-link-text'>Radio System Troubleshooting</span>
        </a>
      </li>
      <li class='side-nav-item'>
        <a href="#" class='side-nav-link'>
          <i class="fas fa-user-astronaut"></i>
          <span class='side-link-text'>Radio Database Log</span>
        </a>
      </li>
      <li class='side-nav-item'>
        <a href="{% url 'ticket:ticket-reporting' %}" class='side-nav-link'>
          <i class="fas fa-ticket-alt"></i>
          <span class='side-link-text'>Ticket System</span>
        </a>
      </li>
      <li class='side-nav-item'>
        <a href="{% url 'isicwebdatabase:profile-home' %}" class='side-nav-link'>
          <i class="far fa-user-circle"></i>
          <span class='side-link-text'>My Profile</span>
        </a>
      </li>
      {% if user.is_authenticated %}
      <li class='side-nav-item'>
        <a href="{% url 'isicwebdatabase:logout' %}" class='side-nav-link'>
          <i class="fas fa-sign-out-alt"></i>
          <span class='side-link-text'>Log out</span>
        </a>
      </li>
      {% else %}
      <li class='side-nav-item'>
        <a href="{% url 'isicwebdatabase:login' %}" class='side-nav-link'>
          <i class="fas fa-sign-out-alt"></i>
          <span class='side-link-text'>Log in</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <main class='main '>
        <div class="user-information">
          <div class="nav-left">
            <icon><a href="{% url 'isicwebdatabase:index-home' %}">Portal</a><h1>CREATE</h1></icon>
          </div>
        </div>
        <div class='selectables'>
          <ul class='nav'>
            <li class='nav-link'><a href="{% url 'ticket:create-ticket' %}">Create New Ticket</a></li>
            <li class='nav-link'><a href="{% url 'ticket:return-tickets' %}">Search Tickets</a></li>
            <li class='nav-link'><a href="{% url 'ticket:update-ticket' %}">Update Ticket</a></li>
            <li class='nav-link'><a href="{% url 'ticket:delete-ticket' %}">Delete Ticket (Admin Only)</a></li>
            <li class='nav-link'>{% if object_list == None %}NONE{% endif %}</li>
          </ul>
        </div>
        <!-- <div class"">
          {% for item in object_list %}
          <ul class="display-list displayinformation">
            <li><h3>{% if item.badge_identifier != 'NA' %}Badge:&nbsp&nbsp{{ item.badge_identifier }}{% endif %}</h3></li>
            <li>Talkgroup:&nbsp&nbsp{{ item.talkgroup_assoc }}</li>
            <li>RSSI: &nbsp&nbsp{{ item.rssi}}</li>
            <li>Location: &nbsp&nbsp{{ item.location}}</li>
            <li>Mobile: &nbsp&nbsp{{ item.mobile}}</li>
            <li>Portable: &nbsp&nbsp{{ item.portable}}</li>
            <li>Description: &nbsp&nbsp{{ item.desc_issue}}</li>
            <li>Issue Resolved: &nbsp&nbsp{{ item.issue_resolve}}</li>
            <li>Description of Resolution: &nbsp&nbsp{{ item.desc_resolve}}</li>
            <li>Description of Resolution: &nbsp&nbsp{{ item.desc_resolve}}</li>
            <li>Time: &nbsp&nbsp{{ item.time_stamp}}</li>
          </ul>
          {% endfor %}
        </div> -->


  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>
